.status {
    display: none;
}

.status.won,
.status.lost {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 200px;
}

.status.won {
    background-image: url('/win.jpg');
}

.status.lost {
    background-image: url('/lost.jpg');
}

.hanger {
    width: '100%';
    margin-left: '37.5%';
}